body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{

}

.display{
  background-color: #fbcf61;

}
.left{
  padding: 30px;
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 200px;
  overflow-x: hidden;
  left: 0;
}


.right{
  background-color: #b3fb61;
  padding: 20px;
  height: 30%;
  width: 30%;
  z-index: 1;
  bottom: 1000px;
  overflow-x: hidden;
  right:-700px;
}

.newPost{
  background-color: #b3fb61;
  padding: 10px;
  height: 20%;
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 150px;
}


.centered{
  text-align:center;
}

h2{
  font-size: 40px;
}

.gitLink{
  font-size: 20px;
}
